body {
  overflow-x: hidden;
  /* background: linear-gradient(135deg, #38b6ff 25%, transparent 25%) -28px 0/
      56px 56px,
    linear-gradient(225deg, rgba(184, 213, 221, 0.5) 25%, transparent 25%) -28px
      0/ 56px 56px,
    linear-gradient(315deg, #38b6ff 25%, transparent 25%) 0 0/ 56px 56px,
    linear-gradient(45deg, rgba(184, 213, 221, 0.5) 25%, #004AAD 25%) 0 0/ 56px 56px;
  background-color: #004AAD; */
  /* background: radial-gradient(
        circle,
        transparent 20%,
        #004AAD 20%,
        #004AAD 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 48px 48px,
    radial-gradient(
        circle,
        transparent 20%,
        #004AAD 20%,
        #004AAD 80%,
        transparent 80%,
        transparent
      )
      24px 24px / 48px 48px,
    linear-gradient(#38b6ff 2px, transparent 2px) 0px -1px / 24px 24px,
    linear-gradient(90deg, #38b6ff 2px, #004AAD 2px) -1px 0px / 24px 24px #004AAD;
  background-size: 48px 48px, 48px 48px, 24px 24px, 24px 24px; */
  background-color: #004AAD;
  font-family: "Lato", sans-serif;
}

a {
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #004AAD;
  color: #93d7ff;
  z-index: 1030;
}

.navbar__brand {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoname {
  width: 12rem;
  height: 3rem;
}

.logo {
  width: 4.5rem;
  height: 2rem;
}

.navbar__links {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.navbar__links li {
  margin-right: 30px;
}

.navbar__links li a {
  color: #fff;
  text-decoration: none;
}

.navbar__links li a.active {
  color: red;
}

section {
  padding: 50px;
  background-color: #f4f4f4;
  margin-top: 80px;
}

#about {
  padding-top: 10%;
  position: relative;
  height: 40vh;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0 100%),
    url("./media/doctorBG.jpg");
  background-size: cover;
  background-position: center;
}
#simple-popper {
  z-index: 1050 !important;
}
.content {
  position: relative;
  z-index: 1;
}

.content .content-about-text {
  color: black;
  text-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff;
}

.red-dash {
  width: 40px;
  height: 4px;
  background-color: red;
  border-radius: 5px;
}

.fixed-button {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateX(-50%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 20;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #93d7ff;
  transform-origin: 0%;
  z-index: 1040;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  bottom: 115px;
  left: 50%;
  transform: translateX(-50%);
}

.card-container .about-card {
  position: relative;
  max-width: 300px;
  width: calc(100% - 20px);
  height: 190px;
  background: #93d7ff;
  margin: 20px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border: 5px solid #002E6B;
  /* border-bottom: 5px solid #002E6B; */
  border-radius: 4px;
}

.card-container .about-card:hover {
  height: 300px;
}

.card-container .about-card .imageBox {
  position: relative;
  top: -50px;
  /* left: 17px; */
  z-index: 1;
  box-shadow: 0 5px 20px rgba(184, 213, 221, 0.4);
}

.card-container .about-card .imageBox img {
  max-width: 100%;
  border-radius: 4px;
}
.imageBox-centered {
  position: absolute;
  max-width: 100%;
  padding: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
  background: rgba(36, 98, 113, 0.1);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(243, 240, 240, 0.01);
  border-radius: 1rem;
}
.card-container .about-card .about-content {
  position: relative;
  margin-top: -100px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card-container .about-card:hover .about-content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.1s;
}

#services {
  margin-top: 16%;
  background-color: #38b6ff;
}

.services_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_pages {
  display: none;
}
.services_container {
  background-color: #93d7ff;
  display: flex;
  width: 80%;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.servicesleft,
.servicesright {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesleft img,
.servicesright img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.servicesleft p,
.servicesright p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

@media (max-width: 768px) {
  .services_container {
    flex-direction: column;
    width: 90%;
  }

  .servicesleft,
  .servicesright {
    padding: 10px;
    text-align: center;
  }

  .servicesleft img,
  .servicesright img {
    margin-bottom: 10px;
  }
}

.information {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info_acc {
  width: 600px;
}
/*  */
.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}
.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}
/*  */
#contact {
  background-color: #004AAD;
  padding: 2rem;
}
.pulse {
  height: 80px;
  width: 200px;
  overflow: hidden;
  position: relative;
  margin: auto;
  padding: 0px;
}
.pulse:after {
  content: "";
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>')
    0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: 2s pulse infinite linear;
}
.pulse:before {
  content: "";
  background: #004AAD;
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;
}

@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  10% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  38% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  48% {
    clip: rect(0, 200px, 100px, 0);
  }
  52% {
    clip: rect(0, 200px, 100px, 0);
  }
  62% {
    clip: rect(0, 200px, 100px, 66.66667px);
  }
  90% {
    clip: rect(0, 200px, 100px, 133.33333px);
  }
  100% {
    clip: rect(0, 200px, 100px, 200px);
  }
}

.contact-logo {
  display: flex;
  padding: 0.5rem;
}

.contact-logo .logo {
  padding-top: 1rem;
  width: 5rem;
  height: 3rem;
}

.contact-logo .logoname {
  padding-top: 1rem;
  width: 15rem;
  height: 3rem;
}

.contact-about {
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
}

.contact-title {
  font-size: 20px;
  color: #333;
  text-align: left;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-detail p {
  font-size: 16px;
  color: #444;
  padding-left: 1rem;
}
.contact-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form {
  background: #93d7ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  color: #004AAD;
}

.social-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.social {
  display: inline-block;
  /* margin: 0 30px; */
  transition: transform 0.05s;
}

.social:hover {
  transform: scale(1.1);
}

.youtube {
  color: #c4302b;
}

.twitter {
  color: dodgerblue;
}

.instagram {
  color: #cd486b;
}

.github {
  color: #000;
}

.flex-container {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 30px 10px;
  }

  .contact-info {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 10px;
    /* width: 100%; */
  }
  .logoname {
    width: 10rem;
    height: 2.5rem;
  }
  .navbar__brand{
margin: auto;  }
  .navbar__brand .pulse{
    height: 60px;
  }
  /* .logo {
    width: 4.5rem;
    height: 2rem;
  } */
  .navbar__links {
    /* margin-top: 20px; */
    font-size: medium;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: .6rem;
  }

  .navbar__links li {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  /* Adjustments for medium screens */
  section {
    padding: 1rem;
  }
  #about {
    height: 150vh;
  }
  .content {
    padding: 20px;
  }
.about-content h4{
  padding: 0%;
}
.about-card{
  height: 150px;
  margin: 0px;
}
  .card-container {
    margin-top: 5rem;
    max-width: 400px;
  }
  .card-container .about-card {
    margin-top: 5rem;
  }
  #services {
    margin-top: 8rem;
  }
 
  .flex-container {
    flex-direction: column;
  }
  #contact {
    padding: 0.5rem;
  }
  .contact-form {
    width: 75vw;
  }
  .contact-logo .logo {
    width: 4rem;
    height: 2rem;
  }

  .contact-logo .logoname {
    width: 10rem;
    height: 2.5rem;
  }
  .services_page {
    display: none;
  }
  .services_pages {
    display: block;
    margin-left: 1.5rem;
  }
  .progress-bar {
    height: 5px;
  }
  .pulse {
    padding-top: 0.5rem;
    width: 100px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 400px)  {
  #services{
    margin-top: 12rem;
  }
  body:has(.card-container .about-card:hover:hover) #services {
    margin-top: 40vh;
    transition: .5s;
  }
  }

/*  */
/*  */
.new-container {
  position: relative;
  /* width: 100%; */
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-form {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.new-contact-form {
  background-color: #38b6ff;
  position: relative;
}

.new-circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #004AAD);
  position: absolute;
}

.new-circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.new-circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.new-contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #004AAD;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.new-title {
  color: #002E6B;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.new-input-container {
  position: relative;
  margin: 1rem 0;
}

.new-input {
  width: 90%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.new-input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.new-input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.new-input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.new-btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #004AAD;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.new-btn:hover {
  background-color: transparent;
  color: #fff;
}

.new-input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.new-input-container span:before,
.new-input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #004AAD;
  top: 50%;
  transform: translateY(-50%);
}

.new-input-container span:before {
  left: 50%;
}

.new-input-container span:after {
  right: 50%;
}

.new-input-container:focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.new-input-container:focus span:before,
.new-input-container:focus span:after {
  width: 50%;
  opacity: 1;
}

.new-contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.new-contact-info .new-title {
  color: #004AAD;
}

.new-text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.new-information {
  display: flex;
  color: #555;
  /* margin: 0.7rem 0; */
  align-items: center;
  font-size: 0.95rem;
}

.new-icon {
  width: 28px;
  margin-right: 0.7rem;
}

.new-social-media {
  /* padding: 2rem 0 0 0; */
}

.new-social-media p {
  color: #333;
}

/* .new-social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.new-social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #38b6ff, #399db6);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
  padding: 0.5rem;
  padding-bottom: 0;
}

.new-social-icons a:hover {
  transform: scale(1.05);
} */
.new-icons ul {
  display: flex;
}

.new-icons ul li {
  list-style: none;
}

.new-icons ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.new-icons ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.new-icons ul li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #38b6ff);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #004AAD;
  transition: 0.5s;
}

.new-icons ul li:nth-child(1) a:hover .fab {
  color: #0077b5;
}

.new-icons ul li:nth-child(2) a:hover .fab {
  color: black;
}

.new-icons ul li:nth-child(3) a:hover .fab {
  color: #cd486b;
}

.new-icons ul li:nth-child(4) a:hover .fab {
  color: black;
}

.new-contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #004AAD;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.new-big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #38b6ff, #004AAD);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.new-big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.new-square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 768px) {
  .new-form {
    grid-template-columns: 1fr;
  }

  .new-contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .new-contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .new-square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .new-big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .new-text {
    margin: 1rem 0 1.5rem 0;
  }

  .new-social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 768px) {
  .new-container {
    padding: 1.5rem;
  }

  .new-contact-info:before {
    display: none;
  }

  .new-square,
  .new-big-circle {
    display: none;
  }

  form,
  .new-contact-info {
    padding: 1.7rem 1.6rem;
  }

  .new-text,
  .new-information,
  .new-social-media p {
    font-size: 0.8rem;
  }

  .new-title {
    font-size: 1.15rem;
  }

  /* .new-social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  } */

  .new-icon {
    width: 23px;
  }
  .new-icons ul {
    margin: 0px;
    padding: 0px;
  }
  .new-icons ul li a {
    margin: 4px;
    padding: 4px;
    width: 50px;
    height: 50px;
  }
  .new-icons ul li a .fab {
    width: 43px;
    height: 43px;
  }
  .new-input {
    padding: 0.45rem 1.2rem;
  }

  .new-btn {
    padding: 0.45rem 1.2rem;
  }
  /* .new-icons{
    width: 30px;
    height: 30px;
    line-height: 30px;
  } */
}
/*  */
/*  */
